a{
    padding:0px;
    margin: 3px 2px 3px 30px;
    border:1px;
    color: #090600;
    position: relative;
    right: 0px;
    left:373px;
    font-size: large;
    font-weight:bold;


}
body{
    background-color: orchid;
}
h1{
    text-align: center;

}
.email{
    text-align: center;
    width: 300px;
    height:30px;
    border-radius: 50px;
    position: absolute;
    left:253px;
}
button:hover{
    background-color: green;
    border-radius: 50px;
    position: absolute;
    left:800px;
    top:163px;
}
.log{
    font-size:small ;
    position:absolute;
    top:145px;
    left:253px;

}

